
main {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 5px;

}


.board-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.board-block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #D3D6DA;

    width: 60px;
    height: 60px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 5px;

    margin-top: 10px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.keyboard-block {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 55px;
    background-color: lightgray;
    border-radius: 6px;

}

.keyboard-block.first {
    width: 63px;
}

.keyboard-block.last {
    width: 63px;
}


